<!-- Footer -->
<footer class="py-5 bg-primary">
  <div class="container text-center text-white">
    <!-- Funding Information and Logo -->
    <div class="d-flex justify-content-between align-items-center">
      <div class="flex-grow-2 me-1">
        This research and development project was partially funded by the German Federal Ministry of Research, Technology and Space (BMFTR) within the <i>The Future of Value Creation — Research on Production, Services and Work</i> program (funding number 02L19C150).
        The respective authors are responsible for the content.
      </div>
      <img src="{{ site.baseurl }}/assets/BMFTR_en_gef_durch.svg" alt="Logo" style="max-height: 75px;">
    </div>
    <!-- Organizers, Copyright, and Imprint (with som top spacing) -->
    <div class="mt-4">
      {{ site.organizers | markdownify | strip_html }} &bullet; 2021—2026 &bullet;
      <a href="https://www.tu-darmstadt.de/kompaki/impressum.de.jsp" class="text-white">Imprint/Impressum</a>
    </div>
  </div>
</footer>